
<div class="container">
  <%=  image_tag("couv.jpg", class:"couv") %>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, nihil nam illo asperiores tenetur dolorum. Adipisci non consequuntur vitae ipsa quisquam, commodi sapiente. Sit architecto impedit recusandae, harum at. Explicabo?</p>

</div>


